<h1>Classes</h1>
<table>
  <tr>
    <th>Class</th>
    <th>Overview</th>
    <th>Resource</th>
  </tr>
  <% @chars.each do |char| %>
  <tr>
    <td><%= link_to char.name, char_class_url(char) %></td>
    <td><%= char.description.truncate(150) if !char.description.nil? %></td>
    <td><%= char.resource %></td>
  </tr>
  <% end %>
</table>
