<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<% end %>
<h1> <%= @char.name %></h1>
<p> <%= @char.description %></p>
<h2><%= link_to "Skills", char_class_skills_path(@char) %></h2>
</table>
