<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<% end %>
<h1> <%= @rune_effect.name %></h1>
<h2> <%= @rune_effect.description %></h2>
<hr>
<%= link_to "All Rune Effects", rune_effects_path %>
