- @skill_types.each do |skill_type|
  - unless skill_type.name == "Passive"
    %div{:class => skill_type.slug}
      %h4= skill_type.name
      %ul
        - skill_type.skills.each do |skill|
          %li{:id => skill.slug, 'data-tooltip-url' => tooltip_char_class_skill_path(@char,skill), 'data-drilldown-url' => drilldown_char_class_skill_path(@char,skill), 'data-title' => skill.name, 'data-img' => skill.img_url, 'data-details' => "lvl #{skill.level} - #{skill.skill_type.name}", 'data-id' => skill.id}
            = image_tag(skill.img_url)
