<h1>Edit Skill</h1>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<% end %>
<%= render :partial => "form" %>
<hr>
<%= link_to "Back", char_class_skills_url %>
