<ul>
  <% @skills.each do |skill|%>
    <% if skill.passive? %>
      <li id='<%= skill.slug %>' data-url='<%= char_class_skill_path(@char,skill) %>'>
        <%= image_tag(skill.img_url) %>
      </li>
    <% end %>
  <% end %>
</ul>

