%ul#build_skills
  %li{:id => 'skill_active_1', 'data-slot' => 'skill_1'}
    %img{:src => '/assets/skills/empty.png', :class => 'skill_img'}
    %img{:src => '/assets/skills/clear_skill.png', :class => 'skill_img', :style => 'display:none;', :title => 'Clear Skill'}
    %img{:src => '/assets/runes/rune_empty.png', :class => 'rune_img', :title => 'Add Runestone'}
    %div
      %h5 1st Skill
      %p Unlocked at lvl 1
    %div{:style => 'display:none;'}
      %h5
      %p
      
  %li{:id => 'skill_active_2', 'data-slot' => 'skill_2'}
    %img{:src => '/assets/skills/empty.png', :class => 'skill_img'}
    %img{:src => '/assets/skills/clear_skill.png', :class => 'skill_img', :style => 'display:none;', :title => 'Clear Skill'}
    %img{:src => '/assets/runes/rune_empty.png', :class => 'rune_img', :title => 'Add Runestone'}
    %div
      %h5 2nd Skill
      %p Unlocked at lvl 1
    %div{:style => 'display:none;'}
      %h5
      %p
      
  %li{:id => 'skill_active_3', 'data-slot' => 'skill_3'}
    %img{:src => '/assets/skills/empty.png', :class => 'skill_img'}
    %img{:src => '/assets/skills/clear_skill.png', :class => 'skill_img', :style => 'display:none;', :title => 'Clear Skill'}
    %img{:src => '/assets/runes/rune_empty.png', :class => 'rune_img', :title => 'Add Runestone'}
    %div
      %h5 3rd Skill
      %p Unlocked at lvl 6
    %div{:style => 'display:none;'}
      %h5
      %p
      
  %li{:id => 'skill_active_4', 'data-slot' => 'skill_4'}
    %img{:src => '/assets/skills/empty.png', :class => 'skill_img'}
    %img{:src => '/assets/skills/clear_skill.png', :class => 'skill_img', :style => 'display:none;', :title => 'Clear Skill'}
    %img{:src => '/assets/runes/rune_empty.png', :class => 'rune_img', :title => 'Add Runestone'}
    %div
      %h5 4th Skill
      %p Unlocked at lvl 12
    %div{:style => 'display:none;'}
      %h5
      %p
      
  %li{:id => 'skill_active_5', 'data-slot' => 'skill_5'}
    %img{:src => '/assets/skills/empty.png', :class => 'skill_img'}
    %img{:src => '/assets/skills/clear_skill.png', :class => 'skill_img', :style => 'display:none;', :title => 'Clear Skill'}
    %img{:src => '/assets/runes/rune_empty.png', :class => 'rune_img', :title => 'Add Runestone'}
    %div
      %h5 5th Skill
      %p Unlocked at lvl 18
    %div{:style => 'display:none;'}
      %h5
      %p
      
  %li{:id => 'skill_active_6', 'data-slot' => 'skill_6'}
    %img{:src => '/assets/skills/empty.png', :class => 'skill_img'}
    %img{:src => '/assets/skills/clear_skill.png', :class => 'skill_img', :style => 'display:none;', :title => 'Clear Skill'}
    %img{:src => '/assets/runes/rune_empty.png', :class => 'rune_img', :title => 'Add Runestone'}
    %div
      %h5 6th Skill
      %p Unlocked at lvl 24
    %div{:style => 'display:none;'}
      %h5
      %p
