%meta{:property => "og:title", :content => title}
%meta{:property => "og:type", :content => "games"}
%meta{:property => "og:url", :content => request.url}
%meta{:property => "og:image", :content => "http://diablohub.com/assets/logo.png"}
%meta{:property => "og:site_name", :content => "diablohub"}
%meta{:property => "og:description", :content => "Get ready to Diablo 3, create your build and discuss with other players!."}
