<footer class="main">
  <nav>
    diablohub: <a href="mailto:branco@diablohub.com">Feedback</a>
  </nav>
  <small>Diablo is a trademark from <a href="http://blizzard.com">Blizzard</a>. We are just huge fans of the game.</small>
</footer>

