%footer.main
  %nav
    diablohub:
    = mail_to 'branco@diablohub.com', 'Feedback'
  %small
    Diablo is a trademark from
    =link_to 'Blizzard.', 'http://blizzard.com'
    We are just huge fans of the game

