<h1>Builds</h1>
<ul id="build_filter">
  <li><strong>Filters:</strong></li> 
  <li><%= select_tag("filter_class", options_for_select(array_chars), :prompt => "All Classes")%></li>
</ul>
<%= render :partial => 'shared/builds_list' %>
