$main-color: #2D230A;
$link_main_color: #6B4B0F;
$link_sec_color: #A28240;
$menu_top_active: #302D26;
$bg_box_darker: #3F3B31;
$bg_box_lighter: #F8F1E1;
$bg_box_li_hover: #E1DCD0;
$bg_box_li_odd: #EFE7D5;
$shadow: #ccc;
