// Place all the styles related to the Builds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "vars";

h1.new_title{
    margin: 0;
  }

form#new_build{

  input, label{display:block;}

  span#class_display{
        font-weight: normal;
      }

  #class_selection{

    margin: 20px 0;

    & input{
     display: none;
    }

    & label{
      cursor: pointer;
      display: inline-block;
      margin: 0 5px;
      &:hover{border-color: #3F3B31;}
      height: 100px;
      width:  68px;
      overflow: hidden;
      background:url(asset_path("classes_portraits.png", image)) no-repeat -68px 0;

          &#label_barbarian:hover,&.active{ background-position: 0 0}
          &#label_demon-hunter{background-position: -68px -100px; &:hover,&.active{background-position: 0 -100px;}}
          &#label_monk{background-position: -68px -200px; &:hover,&.active{background-position: 0 -200px;}}
          &#label_witch-doctor{background-position: -68px -300px; &:hover,&.active{background-position: 0 -300px;}}
          &#label_wizard{background-position: -68px -400px; &:hover,&.active{background-position: 0 -400px;}}
    }
  }

  & input#build_name, textarea#build_description{
    width: 400px;
  }

  & label span.field_optional {
    font-weight: normal;
    font-style: italic;
    font-size: 13px;
  }

  a#build_next{
    display:block;
    width:45px;
  }

  & div#step_two{
    margin-top: 30px;

    & h2 { margin-bottom: 20px;}

    & ul#build_skills{
    	width: 405px;
			float:left;
    	& li{
    		float:left;
    		display: block;
				width: 385px;
	    	border-bottom: 1px solid rgba(0,0,0,0.2);
				box-shadow: 0 1px 0 rgba(255,255,255,0.2);
				padding: 10px;
				& img.skill_img{float:left; cursor: pointer;}
				& img.rune_img{float:right; margin-top: 12px; cursor: pointer;}
			 	& div{
	    		float:left;
					margin: 12px 20px;
					& h5{
					font-size: 18px;
					font-weight: bold;
					}
					& p{
						font-size: 13px;;
					}
			 	}
    	}
    }

    & div#active_block{
	    width: 250px;
			float: left;
			margin-right: 70px;
			& h3{
				font-size: 24px;
			}
			& h4{
				font-size: 18px;
				margin-bottom: 10px;
			}
			& ul{ margin-bottom: 30px;}
			& li{
				display: inline-block;
				cursor: pointer;
				height: 50px;
				margin-left: 5px;
				padding: 2px;
				&.skill_selected{background-color: #9DC200;}
				& img {width: 50px;}
			}
	  }

	  & div#passive_block{
	  	clear: both;
			& li{
				display: inline-block;
				cursor: pointer;
				height: 50px;
				& img {width: 50px;}
			}
	  }

	  & div#drilldown_block{
	  	float: left;
	  	width: 250px;
	  	padding-left: 10px;
	  	margin-left: 30px;

				& section {
				float: left;
				padding-left: 50px;
				height: 510px;
				background: url(asset_path("arrow.png", image)) no-repeat 0 0;
					&#drilldown_1{
				  	background-position: 0 -460px;
					}
					&#drilldown_2{
				  	background-position: 0 -374px;
					}
					&#drilldown_3{
				  	background-position: 0 -290px;
					}
					&#drilldown_4{
				  	background-position: 0 -205px;
					}
					&#drilldown_5{
				  	background-position: 0 -120px;
					}
					&#drilldown_6{
				  	background-position: 0 -35px;
					}

				& ul.runes_block{
					& h4 {
						margin-top: 20px;
						font-size: 16px;
						padding: 0 5px 10px 5px;
						width: 250px;
						border-bottom: 1px solid rgba(0,0,0,0.2);
						box-shadow: 0 1px 0 rgba(255,255,255,0.2);
					}

					& span{
							font-weight: bold;
							margin-left: 5px;
							line-height: 40px;
							font-size: 15px;
							font-weight: bold;
						}
						& img{
							float: left;
							width: 40px;
						}

					& li {
						padding: 10px 5px;
						float: left;
						cursor: pointer;
						width: 250px;
						border-bottom: 1px solid rgba(0,0,0,0.2);
						box-shadow: 0 1px 0 rgba(255,255,255,0.2);

						&:hover{
							background-color: rgba(0,0,0,0.1);
						}

						&.rune_active{
							background-color: rgba(0,0,0,0.2);
						}

						& span{
							font-weight: bold;
							margin-left: 5px;
							line-height: 30px;
						}
						& img{
							float: left;
							width: 30px;
						}
					}
				}
	  	}
	  }
  }
}


div.skill_tooltip{
	& img {float: left;}
	& div{
		float: left;
		margin-left: 5px;
		width: 300px;
		& p{
			font-size: 12px;

			&.description{
				font-size: 15px;
			}
		}
		& h3 { font-size: 18px }
		& p, & li{
			margin-bottom: 5px;
		}
	}
}

