// Place all the styles related to the Builds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "vars";

h1.new_title{
    margin: 0;
  }

form#new_build, form.edit_build{
  input, label{display:block;}
  
  header#build_header{
  	
  	width: 730px;
  
		& h1{
			float: left;
			width: 300px;
		}
		
		& label{ clear:left;}
	
		div#checklist{
			float: right;
			width: 400px;

			& h3{
				font-size: 15px;
			}

			& ul{
				list-style-type: circle;

				& li{
				margin: 2px 0 2px 20px;
				font-size: 13px;
				}
			}
			& div {
			float: right;
				& span{
				display: block;
				font-weight: bold;
				}
			}
		}
  }
  
  div#build_info, div#error_explanation{clear: both;}

  span#class_display{
        font-weight: normal;
      }

  #class_selection{

    margin: 20px 0;

    & input{
     display: none;
    }

    & label{
      cursor: pointer;
      display: inline-block;
      margin: 0 5px;
      &:hover{border-color: #3F3B31;}
      height: 100px;
      width:  68px;
      overflow: hidden;
      background:url(asset_path("classes_portraits.png", image)) no-repeat -68px 0;

          &#label_barbarian:hover,&.active{ background-position: 0 0}
          &#label_demon-hunter{background-position: -68px -100px; &:hover,&.active{background-position: 0 -100px;}}
          &#label_monk{background-position: -68px -200px; &:hover,&.active{background-position: 0 -200px;}}
          &#label_witch-doctor{background-position: -68px -300px; &:hover,&.active{background-position: 0 -300px;}}
          &#label_wizard{background-position: -68px -400px; &:hover,&.active{background-position: 0 -400px;}}
    }
  }

  & div#edit_class{margin: 20px 0;}

  & input#build_name, textarea#build_description{
    width: 400px;
  }

  & label span.field_optional {
    font-weight: normal;
    font-style: italic;
    font-size: 13px;
  }

  a#build_next{
    display:block;
    width:45px;
  }

  & div#step_two{
    margin: 30px 0;
    float:left;

    & h2 { margin-bottom: 20px;}

    & ul#build_skills{
    	width: 405px;
			float:left;
    	& li{
    		float:left;
    		display: block;
				width: 385px;
	    	border-bottom: 1px solid rgba(0,0,0,0.2);
				box-shadow: 0 1px 0 rgba(255,255,255,0.2);
				padding: 10px;
				& img.skill_img{float:left; cursor: pointer;}
				& img.rune_img{float:right; margin-top: 12px; cursor: pointer;}
			 	& div{
	    		float:left;
					margin: 12px 20px;
					& h5{
					font-size: 18px;
					font-weight: bold;
					}
					& p{
						font-size: 13px;;
					}
			 	}
    	}
    }

    & div#active_block{
	    width: 250px;
			float: left;
			margin-right: 70px;
			& h3{
				font-size: 24px;
			}
			& h4{
				font-size: 18px;
				margin-bottom: 10px;
			}
			& ul{ margin-bottom: 30px;}
			& li{
				display: inline-block;
				cursor: pointer;
				height: 50px;
				margin-left: 5px;
				padding: 2px;
				&.skill_selected{background-color: #9DC200;}
				& img {width: 50px;}
			}
	  }

	  & div#passive_block{
	  	clear: both;
	  	margin-top: 30px;
	  	width: 250px;
	  	float: left;
	  	margin-right: 70px;
			& li{
				display: inline-block;
				cursor: pointer;
				height: 50px;
				margin-left: 5px;
				padding: 2px;
				&.passive_selected{background-color: #9DC200; border-radius: 25px;}
				& img {width: 50px;}
			}
	  }

	  & ul#build_passives{
    	width: 405px;
			float:left;
			margin-top: 30px;
    	& li{
    		float:left;
    		display: block;
				width: 385px;
	    	border-bottom: 1px solid rgba(0,0,0,0.2);
				box-shadow: 0 1px 0 rgba(255,255,255,0.2);
				padding: 10px;
				& img.skill_img{float:left; cursor: pointer;}
			 	& div{
	    		float:left;
					margin: 12px 20px;
					& h5{
					font-size: 18px;
					font-weight: bold;
					}
					& p{
						font-size: 13px;;
					}
			 	}
    	}
    }

	  & div#drilldown_block{
	  	float: left;
	  	width: 250px;
	  	padding-left: 10px;
	  	margin-left: 10px;

				& section {
				float: left;
				padding-left: 50px;
				height: 510px;
				background: url(asset_path("arrow.png", image)) no-repeat 0 0;
					&#drilldown_1{
				  	background-position: 0 -460px;
					}
					&#drilldown_2{
				  	background-position: 0 -374px;
					}
					&#drilldown_3{
				  	background-position: 0 -290px;
					}
					&#drilldown_4{
				  	background-position: 0 -205px;
					}
					&#drilldown_5{
				  	background-position: 0 -120px;
					}
					&#drilldown_6{
				  	background-position: 0 -35px;
					}

				& ul.runes_block{
					& h4 {
						margin-top: 20px;
						font-size: 16px;
						padding: 0 5px 10px 5px;
						width: 250px;
						border-bottom: 1px solid rgba(0,0,0,0.2);
						box-shadow: 0 1px 0 rgba(255,255,255,0.2);
					}

					& span{
							font-weight: bold;
							margin-left: 5px;
							line-height: 40px;
							font-size: 15px;
							font-weight: bold;
						}
						& img{
							float: left;
							width: 40px;
						}

					& li {
						padding: 10px 5px;
						float: left;
						cursor: pointer;
						width: 250px;
						border-bottom: 1px solid rgba(0,0,0,0.2);
						box-shadow: 0 1px 0 rgba(255,255,255,0.2);

						&:hover{
							background-color: rgba(0,0,0,0.1);
						}

						&.rune_active{
							background-color: rgba(0,0,0,0.2);
						}

						& span{
							font-weight: bold;
							margin-left: 5px;
							line-height: 30px;
						}
						& img{
							float: left;
							width: 30px;
						}
					}
				}
	  	}
	  }

	  & div#disclaimer{

	  	clear: both;
	  	padding-top: 60px;
	  	font-size: 13px;
	  }
  }
}


div.skill_tooltip{
	& img {
	float: left;
		&.rune_img{padding: 20px 5px 0 0;}
	}
	& div{
		float: left;
		margin-left: 5px;
		width: 300px;
		& p{
			font-size: 12px;

			&.description{
				font-size: 15px;
			}
		}
		& h3 { font-size: 18px }
		& p, & li{
			margin-bottom: 5px;
		}
	
	&.rune_effect{
		padding-top: 20px;
	}
		
	}
}


ul.build_active_skills{
	width: 405px;
	float:left;
	padding-bottom: 60px;
	& h2{ clear: both; padding-top: 40px;}
	& li{
		float:left;
		display: block;
		width: 385px;
  	border-bottom: 1px solid rgba(0,0,0,0.2);
		box-shadow: 0 1px 0 rgba(255,255,255,0.2);
		padding: 10px;
	 cursor: pointer;
		& img.skill_img{float:left;}
		& img.rune_img{float:right; margin-top: 12px;}
	 	& div{
  		float:left;
			margin: 12px 20px;
			& h5{
			font-size: 18px;
			font-weight: bold;
			}
			& p{
				font-size: 13px;;
			}
	 	}
	}
}

ul.build_passive_skills{
	width: 405px;
	float:left;
	padding-left: 60px;
	& h2{ clear: both; padding-top: 40px;}
	& li{
		float:left;
		display: block;
		width: 385px;
  	border-bottom: 1px solid rgba(0,0,0,0.2);
		box-shadow: 0 1px 0 rgba(255,255,255,0.2);
		padding: 10px;
		 cursor: pointer;
		& img.skill_img{float:left;}
		& img.rune_img{float:right; margin-top: 12px;}
	 	& div{
  		float:left;
			margin: 12px 20px;
			& h5{
			font-size: 18px;
			font-weight: bold;
			}
			& p{
				font-size: 13px;;
			}
	 	}
	}
}

header.build{
	ul.build_toolbar{
	float: right;

		& li{
			display: inline;
			& a{font-size: 13px;}
		}
	}
	& p.class_name{ font-size: 18px;}
	& div.description{
		margin-top: 20px;
		width: 810px;
		& p + p {
			margin-top: 5px;
		}
	}
}

ul#build_filter{
	li{
		display: inline;
		margin-right: 10px;
	}
}

table.build_list{
	
	margin: 30px 0;
	width: 800px;

 	& th{
		font-size: 16px;
		padding: 10px 10px;
		&#th_build{}
		&#th_class{width: 120px;}
		&#th_active_skills{width: 120px;}
		&#th_passive_skills{width: 120px;}
	}
	
	tr{border-bottom: 1px solid rgba(0,0,0,0.2)}
 
 	& td{
 		padding: 10px 10px;
 		& div {
 			&.title{
 			font-size: 16px;
 			font-weight: bold;
			margin-bottom: 5px;
 			}
 			&.description{
 				font-size: 14px;
 			}
 			&.build_info{
 				margin-top: 5px;
 				font-size: 12px;
 			}
 			&.class_name{
 				font-weight: bold;
 			}
 			&.build_details{
 				font-size: 14px;
 			}
 		}
		& ul{
			& li{
				display: inline-block;				
				& img{
					width: 30px;
					height: 30px;
					cursor: pointer;
					padding: 0 2px;
				}
			}
		}
	}
}

ul#build_comments_list{
	width: 810px;
	clear: both;
	& li{
		border-bottom: 1px solid rgba(0,0,0,0.2);
		box-shadow: 0 1px 0 rgba(255,255,255,0.2);
		padding: 10px;
		margin-bottom: 20px;
		& div{
			margin: 10px 0;
		}
		& footer{
			font-size: 12px;
			margin-bottom: 20px;
		}
	}
}

div#comment_form{
	& h3{
		font-size: 18px;
		margin-bottom: 10px;
	}
	& textarea{
		width: 810px;
		height: 100px;
	}
	& input{
		display: block;
	}
}
