// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "vars";
@mixin class_showcase{
  float: left;
  overflow: hidden;
  width: 134px;
  height: 300px;
  background:url(asset_path("classes_showcase.jpg", image));
  cursor: pointer;

}

body#home{
    background: url(asset_path("bg_top.png", image)) repeat-x 0 0;
    
    & header.main {
        height: 140px;
    
      & hgroup h1 a{
        padding: 30px;
        width: 363px;
        height: 77px;
        background:url(asset_path("logo.png", image)) no-repeat center left;
      }
    }
}

div#showcase{
  margin-bottom: 20px;
  height: 300px;
  background:url(asset_path("bg_showcase.jpg", image)) no-repeat center right;
  
  & div#img_classes{
    float: left;
  
  
    & #img_barbarian{
      @include class_showcase;
      background-position: 134px 300px;
      
      &:hover, &.img_active{
        background-position: 0 300px;
      }
    }
    & #img_demon_hunter{
      @include class_showcase;
      background-position: 134px 600px;
      
      &:hover, &.img_active{
        background-position: 0 600px;
      }
    }
    & #img_monk{
      @include class_showcase;
      background-position: 134px 900px;
      
      &:hover, &.img_active{
        background-position: 0 900px;
      }
    }
    & #img_witch_doctor{
      @include class_showcase;
      background-position: 134px 1200px;
      
      &:hover, &.img_active{
        background-position: 0 1200px;
      }
    }
    & #img_wizard{
      @include class_showcase;
      background-position: 134px 0;
      
      &:hover, &.img_active{
        background-position: 0 0;
      }
    }
  }

  & div#quotes{
    float: right;
    width: 290px;
    padding: 40px 20px 20px;
    
    & div.quote_inactive{
      display: none;
    }
    
    & h3{
      font-size: 24px;
      font-weight: bold;
    }
    
    & blockquote{
      padding-top: 10px;
      height: 100px;
      font-size: 18px;
      font-style: italic;
    }
  }
  
  & div#invitation{
    float: right;
    clear: right;
    width: 330px;
    text-align: center;
    
    & span{
      display: block;
      margin: 5px 0;
      font-weight: bold;
    }
  }
}

div#block_builds{

  float: left;
  margin-bottom: 50px;

  & div{
    float: left;
    width: 330px;
    background-color: $bg_box_lighter;
    border-radius: 5px;
  
    & h3{
      background-color: $bg_box_darker;
      padding: 8px 10px;
      color: $link_sec_color;
      font-size: 18px;
    }
    
    & li{
      padding: 5px 10px;
      
      &:hover{
        background-color: $bg_box_li_hover;
      }
      
      &:nth-child(odd){
        background-color: $bg_box_li_odd;
        
        &:hover{
        background-color: $bg_box_li_hover;
        }
      }
      
      & a{
        display: block;
      }
    }
    
    &#top_builds{
    }
    
    &#trending_builds{
      margin: 0 5px;
    }
    
    &#class_builds {
      
      
      & li {

        & span.build_count{
          float: right;
        }
      }
    }
  }
}
